GROQ_API_KEY=example_XXXX
OPENAI_API_KEY=example_XXXX
MODEL_PROVIDER=groq
MODEL_NAME=llama-3.3-70b-versatile
API_KEY_BOT_TELEGRAM=example_XXXX
API_KEY_GOOGLE_MAPS=example_XXXX
API_KEY_GOOGLE_GENAI=example_XXXX
API_KEY_OPIK=example_XXXX
OPIK_WORKSPACE=WORKSPACE_NAME
OPIK_PROJECT_NAME=example_XXXX
DATABASE_SERVICE_URL=postgres://postgres:password@localhost:5432/postgres
COHERE_API_KEY=example_XXXX
TABLE_NAME=restaurants
EMBEDDING_DiMENSIONS=768
TIME_PARTITION_INTERVAL=7